body{
    font-family: "Arial", sans-serif;
}
#header{
    text-align: center;
    padding-bottom: 50px;
}
#drop_zone{
    display:block;
    margin:auto;
    width: 50vw;
    height: 50vh;
    font-size: 32pt;
    border:2px dashed #cccccc;
    color:#ccc;
    line-height:300px;
    text-align: center;
}

#list {
    text-align: center;
}

a:link {
    text-decoration: none;
}